@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

:root {
  --board-dimension: 10;
  --cell-width: 50px;
  --cell-border: 1px solid white;
  --ship-color: grey;
  --miss-color: white;
  --hit-color: red;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: rgb(7, 3, 75);
  background: linear-gradient(
    180deg,
    rgba(7, 3, 75, 1) 0%,
    rgba(9, 9, 121, 1) 58%,
    rgba(5, 42, 185, 1) 100%
  );
  font-family: "Black Ops One";
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(125, 136, 160);
  text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

h2 {
  text-align: center;
  color: white;
}

.game-container {
  display: flex;
  gap: 50px;
  margin-top: 10px;
}

.game-grid {
  display: grid;

  grid-template: repeat(var(--board-dimension), var(--cell-width)) / repeat(
      var(--board-dimension),
      var(--cell-width)
    );
}

.grid-cell {
  border: var(--cell-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.peg {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: none;
}

.hit {
  background-color: var(--hit-color);
}

.missed {
  background-color: var(--miss-color);
}

.ship {
  background-color: var(--ship-color);
}

.ship-container {
  display: flex;
  gap: 30px;
  width: calc(var(--cell-width) * var(--board-dimension));
  height: calc(var(--cell-width) * var(--board-dimension));
}

.unplaced-ship {
  display: flex;
  z-index: 1;
  width: fit-content;
  height: fit-content;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}


.clone {
  position: absolute;
  pointer-events: none;
  opacity: 0.8;
}

.centered {
  justify-content: center;
  align-items: center;
}

.unplaced-ship-cell {
  width: var(--cell-width);
  height: var(--cell-width);
  background-color: var(--ship-color);
  border: var(--cell-border);
}

#start-game-button {
  padding: 30px 30px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background: none;
  font-family: inherit;
  width: fit-content;
  font-size: 3rem;
}

#start-game-button:hover {
  font-size: 2.8rem;
  color: cyan;
  border-color: cyan;
  cursor: pointer;
}

#overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);
  z-index: 2;
}

.overlay {
  width: 380px;
  height: 230px;
  background-color: rgb(16, 63, 165);
  border-radius: 20px;
  border: 4px solid rgb(0, 119, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 2rem;
  text-align: center;
  color: white;
}

#new-game-button {
  background: none;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px 40px;
  color: white;
  font-family: inherit;
  font-size: 2rem;
}

#new-game-button:hover {
  font-size: 1.8rem;
  cursor: pointer;
  border-color: cyan;
  color: cyan;
}